<center><h1><b>Python Collections

### List

In [23]:
#Empty List 
empty_list= []
print('Empty List:', empty_list, type(empty_list))

#Single-Element-List
single_element_list= [23]
print('Single-Element: ', single_element_list, type(single_element_list))

#Numbers list
list_of_numbers= [10, 20, 30, 40, 50]
print('Number List: ', list_of_numbers, type(list_of_numbers))

#Mixture List
all_in_one_list= ['hello', 123, True, 3.14]
print('Mixed List: ', all_in_one_list, type(all_in_one_list))

Empty List: [] <class 'list'>
Single-Element:  [23] <class 'list'>
Number List:  [10, 20, 30, 40, 50] <class 'list'>
Mixed List:  ['hello', 123, True, 3.14] <class 'list'>

In [ ]:
#Accesing Elements by index number in list
first_number= list_of_numbers[1]
second_number= list_of_numbers[3]
third_number= list_of_numbers[-2]
forth_number= list_of_numbers[-4]

print('1st: ', first_number)
print('2nd: ', second_number)
print('3rd: ', third_number)
print('4th: ', forth_number)

1st:  20
2nd:  40
3rd:  40
4th:  20

#### Adding, Removing, Modify Elements

In [ ]:
#Adding
number= [10, 20, 30, 40]
print(number)
number.append(50)
print(number)

#Insert
number.insert(2, 18)
print(number)

#Removing
remove_element= number.pop()
print('remove: ', remove_element)
number.pop()
print(number)
number.remove(30)
print(number)

#Modify 
number [2] = 25
print(number)  #insert the element to 2-25

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 18, 30, 40, 50]
remove:  50
[10, 20, 18, 30]
[10, 20, 18]
[10, 20, 25]

## Collection type
### Tuple

In [19]:
#Creating Tuple
#Empty-Tuple
empty_tuple= ()
print('Empty: ', empty_tuple, type(empty_list))

#Single-Element-Tuple
single_element_tuple= (23,)
print('Single-Element: ', single_element_tuple, type(single_element_tuple))

#Number-Tuple
numbers_tuple= (10, 20, 30, 40, 50)
print('Numbers-Tuple: ', numbers_tuple, type(numbers_tuple))

#Mixed-Tuple
mixed_tuple= ('Hello', 23, 3.14, True) 
print('Mixed-Tuple: ', mixed_tuple, type(mixed_tuple))

Empty:  () <class 'list'>
Single-Element:  (23,) <class 'tuple'>
Numbers-Tuple:  (10, 20, 30, 40, 50) <class 'tuple'>
Mixed-Tuple:  ('Hello', 23, 3.14, True) <class 'tuple'>

In [36]:
#Accesing Elements by index number in tuple
first_item= numbers_tuple[0]
seconde_item= numbers_tuple[1]
third_item= numbers_tuple[2]
forth_item= numbers_tuple[3]
fifth_item= numbers_tuple[4]

print('1st-item:', first_item) 
print('2nd-item:', seconde_item) 
print('3rd-item:', third_item) 
print('4th-item:', forth_item) 
print('5th-item:', fifth_item) 

#Slicing work similarly to list
sub_tuple= numbers_tuple[2:]
print('Sliced sub tuple: ', sub_tuple)

1st-item: 10
2nd-item: 20
3rd-item: 30
4th-item: 40
5th-item: 50
Sliced sub tuple:  (30, 40, 50)

### Immutibility

In [ ]:
# Try to modify a tuple will rise errors
numbers_tuple= (11, 22, 33) 
try: 
    numbers_tuple[1] = 99 #This is not allowed to store value in the tuple. Because it is immutable.
except TypeError as e: 
    print('Error:', e)

Error: 'tuple' object does not support item assignment

In [ ]:
# Unpacking a tuple into seperate variables
person_tuple = ("Irshad Amad", 19, "Python Engineer") #create tuple with different data types.
name, age, profession = person_tuple # store value of tuple to variables name, age, profession
#Unpack in order 
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: John
Age: 30
Profession: Engineer

### Dictionary

In [ ]:
#Creating Dictionary
# Empty Dictionary
empty_dict = {}
print('Empty Dictionary:', empty_dict, type(empty_dict))

# Person Dictionary
person_dict = {"Name" : "Ali", "age": 25, "profession": "Engineer"} 
# Name is a key work act as a variable. Ali is a value that store into the key
print('Person Info:', person_dict, type(person_dict))

#Another way to create a dictionary
another_dict = dict(city= 'london', country= 'UK') # Another way to create an dictionary
# city and country are keys, 'london' and 'UK' are their respective values
print('Another Dictionary:', another_dict, type(another_dict))

Empty Dictionary: {} <class 'dict'>
Person Info: {'Name': 'Ali', 'age': 25, 'profession': 'Engineer'} <class 'dict'>
Another Dictionary: {'city': 'london', 'country': 'UK'} <class 'dict'>

In [22]:
#Accessing Dictionary Elements by their Keys
print('Name:', person_dict['Name'])
print('Age:', person_dict.get('age'))
print('Profession:', person_dict['profession'])

# Accessing elements in another_dict
print('City:', another_dict['city'])
print('Country:', another_dict['country'])

Name: Ali
Age: 25
Profession: Engineer
City: london
Country: UK

#### Adding,Updaing, and Removing key

In [29]:
#Adding and updating a key value pair
person_dict['city'] = 'Karachi' # Adding city if it does not exist as a new key-value pair

#Removing key-value pair
remove_element= person_dict.pop('age', None) # Removes age if it exists and return is value
print('Removed element:', remove_element)


#Check if a key exists
if 'age' in person_dict: # check if a key exist by condition
    print("Age key has been removed.")
print('Person-info:', person_dict)

Removed element: None
Person-info: {'Name': 'Ali', 'profession': 'Engineer', 'city': 'Karachi'}

### Sets

In [36]:
#Creating sets

#Empty set
empty_set = set() 
print('Empty Set:', empty_set, type(empty_set))

#Number set
number_set = {10, 20, 30, 40, 50, 40} #Duplicate are removes automatically
print('Number Set:', number_set, type(number_set))

#Mixed set
mixed_set = {10, "Hello", 3.14, (1, 2)} # You can store immutable types like tuple
print('Mixed Set:', mixed_set, type(mixed_set))

Empty Set: set() <class 'set'>
Number Set: {50, 20, 40, 10, 30} <class 'set'>
Mixed Set: {(1, 2), 10, 3.14, 'Hello'} <class 'set'>

#### Adding,Updaing, and Removing Elements

In [40]:
# Adding number in set 
number_set.add(60) # Adding 60 element to the set
# print('Updated Number Set:', number_set, type(number_set))

#Discard number 
number_set.discard(20) # Discard 20 element from the set 
# print('After Discarding 20:', number_set)

#Removing number 
#number_set.remove(30) # Remove 30 element from the set
# print('After Removing 30:', number_set)

print('Final Number Set:', number_set)

Final Number Set: {50, 40, 10, 60}

#### Set Operations

In [42]:
#set operation creation 

set_a = {10, 20, 30}
set_b = {20, 40, 50}

#Union all element from both sides
print('Union:', set_a.union(set_b)) # Union of set a and b 
# or set_a | set_b 

#Intersection: Elements common to both
print('Intersection:', set_a.intersection(set_b)) # Intersection of set a and b
# or set_a & set_b

#Difference: Elements in a but set_a not in set_b
print('Difference:', set_a.difference(set_b)) # Difference of set a and b
# or set_a - set_b

#Symmetric Difference: Elements in either set_a or set_b but not in both
print('Symmetric Difference:', set_a.symmetric_difference(set_b)) # Symmetric difference of set a and b
# or set_a ^ set_b

Union: {50, 20, 40, 10, 30}
Intersection: {20}
Difference: {10, 30}
Symmetric Difference: {40, 10, 50, 30}